// $main-color: #213533;
$main-color: linear-gradient(
	to right,
	#000000,
	#254335,
	#274637,
	#325643,
	#102f27,
	#000000
);
$text: whitesmoke;
$logo: rgb(41, 35, 35);
$secondlogo: #f8b75b;
// $mobileMenu: #27513d;
$mobileMenu: linear-gradient(to right, #011409, #05350f, #051011);
