@use "./colors" as colors;

.footer {
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	&__text {
		padding: 1rem;
		text-align: center;
		// color: #fff;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		gap: 4px;

		img {
			max-width: 150px;
		}
	}
}
