@use "./colors" as colors;
.phone-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 15px;
	background-color: #274637;
	border: 2px solid colors.$secondlogo;
	border-radius: 50%;
	padding: 15px;
	cursor: pointer;
	box-shadow: 0px 4px 36px -11px #102f27;
	z-index: 12000;
	font-size: 30px;

	i {
		color: colors.$secondlogo;
	}
}

@media (min-width: 992px) {
	.phone-btn {
		display: none;
	}
}
